# Node
node_modules
npm-debug.log
pnpm-debug.log
yarn-error.log

# Build output
.svelte-kit
build
dist
output

# Local env
.env
.env.*
!.env.example

# OS cruft
.DS_Store
Thumbs.db

# IDE files
.vscode/
.idea/

# Logs
*.log

# Misc
*.local

